h1 {
    font-family: 'Rubik One', sans-serif;
    color: #0e264b;
}

p,
ul,
a {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #5f5f5f;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #0e264b;
}
